.button__magnetic {
  --x: 0;
  --y: 0;
  transform: translateX(var(--x)) translateY(var(--y));
  transform-origin: center center;
  position: relative;
  padding: 0 !important;
}

.focus {
  color: white;
  background-color: black;
}
