.testimony__item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

.testimony__item img {
  height: 100px;
  width: 100px;
  min-height: 100px;
  min-width: 100px;
  border-radius: 100%;
  object-fit: cover;
}

.testimony__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.testimony {
  margin: 0;
  font-family: Poligon;
  font-size: var(--font-size--large);
  line-height: var(--font-size--large);
  font-weight: 300;
  color: #000;
  max-height: calc(4 * var(--font-size--large));
  overflow: hidden;
}

.author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  color: #000;
}

.author__name {
  margin: 0;
  font-family: Poligon;
  font-size: var(--font-size--medium);
  font-weight: 500;
  position: relative;
  line-height: var(--font-size--medium);
}
.author__name::before {
  --size: 6px;
  content: "";
  height: var(--size);
  width: var(--size);
  background-color: #000;
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: calc(-1rem - var(--size) / 2);
  margin: auto;
}
.author__job {
  margin: 0;
  font-family: Poligon;
  font-size: var(--font-size--medium);
  font-weight: 200;
  font-size: var(--font-size--medium);
}
