.grid_item {
  user-select: none;
  pointer-events: all;
  --height: 350px;
  --width: 300px;
  height: var(--height);
  width: var(--width);
  max-height: 100vh;
  max-width: 100vw;
  transform-origin: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.25s linear;
  position: relative;
  z-index: 0;
}

/* Selected */
.grid_item.selected {
  pointer-events: none;
}
.grid_item:not(.grid_item__back).selected,
.grid_item:not(.grid_item__back):hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/* Background */
.grid_item__background {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform-origin: center center;
  width: 100%;
  height: 100%;
}
/* Overlay */
.grid_item__overlay {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 16, 16, 0.757);
  opacity: 0;
  transform-origin: center center;
  transition: opacity 0.2s linear;
}
.grid_item:not(.grid_item__screen).selected .grid_item__overlay,
.grid_item:not(.grid_item__screen):hover .grid_item__overlay {
  opacity: 1;
}
/* Image */
.grid_item__image {
  pointer-events: none;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
  transform-style: preserve-3d;
}
.grid_item__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

/* Infos */
.grid_item__details {
  --padding: 2rem;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  margin: auto;
  height: 100%;
  padding: var(--padding);
  color: #fff;
  font-family: Poligon;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: opacity 0.2s linear;
}
.grid_item.selected .grid_item__details,
.grid_item:hover .grid_item__details {
  opacity: 1;
}
.item__subtitle {
  position: relative;
  display: block;
  height: var(--font-size--medium);
  text-transform: uppercase;
  color: var(--red);
  margin: 0 0 0.5rem;
  font-size: var(--font-size--medium);
  line-height: var(--font-size--medium);
  max-width: var(--width);
}
.item__title {
  position: relative;
  display: block;
  height: calc(var(--font-size--large) * 2);
  font-size: var(--font-size--large);
  line-height: var(--font-size--large);
  text-transform: capitalize;
  margin: 0 0 1rem;
  max-width: var(--width);
}
.item__description {
  width: calc(100% - var(--padding) * 2);
  font-size: 24px;
  font-weight: 200;
  opacity: 0;
  height: fit-content;
  position: absolute;
  left: 2rem;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
}
.button__container {
  width: 100%;
  position: relative;
  margin-top: 0.5rem;
  display: flex;
}

.link__back {
  color: #fff;
  background-color: transparent;
}
.link__more {
  color: var(--red);
  background-color: transparent;
}
/* grid Item Screen */
.grid_item__screen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  opacity: 0;
}

.grid_item__screen .grid_item__details,
.grid_item__screen .grid_item__overlay {
  opacity: 1;
}
